$primary-color: #212833;
$secondary-color: #F0B90B;
$alert-color: #E3000E;
$sucess-color: #00D717;
$warning-color: #FFDA0C;
$white-color: #f2f2f2;

$OpenSans-ExtraBold: 'OpenSans-ExtraBold';
$OpenSans-Bold: 'OpenSans-Bold';
$OpenSans-BoldItalic: 'OpenSans-BoldItalic';
$OpenSans-ExtraBoldItalic: 'OpenSans-ExtraBoldItalic';
$OpenSans-Light: 'OpenSans-Light';
$OpenSans-Italic: 'OpenSans-Italic';
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$OpenSans-Regular: 'OpenSans-Regular';
$OpenSans-SemiBoldItalic: 'OpenSans-SemiBoldItalic';
$OpenSans-SemiBold: 'OpenSans-SemiBold';
